{% extends 'monApp/base.html' %}
{% block contenu %}
<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h4>Détail du rayon</h4>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ rayon.nomRay }}</h5>
        <ul class="list-unstyled">
            <li><strong>Référence :</strong> {{ ray.idRay }}</li>
            <li><strong>Nom rayon :</strong> {{ ray.nomRay }}</li>
        </ul>
        <div class="card-footer text-center">
            <a href="{% url 'ray_chng' ray.idRay %}" class="btn btn-warning mt-2">Modifier</a>
            <a href="{% url 'ray_del' ray.idRay %}" class="btn btn-danger mt-2">Supprimer</a> 
            <a href="{% url 'lst_rays' %}" class="btn btn-info mt-2">Retour</a>
        </div>
    </div>
</div>

<div class="card mb-4">
    <div class="card-header bg-primary text-white">
        <h4>Ce rayon contient <strong> {{total_nb_produit}} </strong> produit(s) pour un total de
            <strong>{{total_rayon|floatformat:2 }} € </strong>
        </h4>
        <a href="{% url 'cntnr-crt' ray.idRay %}" class="btn btn-success mt-2">Ajouter un produit</a>
    </div>
    <div class="card-body">
        <div class="row">
            {% if prdts_dt %}
            {% for data in prdts_dt %}
            <div class="col-sm-3">
                <div class="card mb-2 text-center">
                    <div class="card-header bg-info text-white">
                        <h5 class="card-title">{{ data.produit.intituleProd }}</h5>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled">
                            <li>Prix unitaire : {{data.prix_unitaire }} € </li>
                            <li>Quantité : {{data.quantite }} </li>
                            <li>Total : {{ data.total_produit}} €</li>
                        </ul>
                        <a href="{% url 'dtl_prdt' data.produit.refProd %}" class="btn btn-primary mt-2">Détails</a>
                        <a href="{% url 'cntnr-upd' data.produit.refProd ray.idRay %}" class="btn btn-warning mt-2">Modifier</a>
                        <a href="{% url 'cntnr-del' data.produit.refProd ray.idRay %}" class="btn btn-danger mt-2">Supprimer</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p class="text-muted">Aucun produit trouvé pour cette catégorie.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
