{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom rayon</th>
    </thead>
    <tbody>
        {% for r in rays %}
        <tr>
            <td>{{ r.idRay }} </td>
            <td><a href="{% url 'dtl_ray' r.idRay %}">{{ r.nomRay }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crt_ray' %}">Créer un nouveau rayon</a>
        {% endblock %}