{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom catégorie</th>
    </thead>
    <tbody>
        {% for cat in cats %}
        <tr>
            <td>{{ cat.idCat }} </td>
            <td><a href="{% url 'dtl_cat' cat.idCat %}">{{ cat.nomCat }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crt_cat' %}">Créer une nouvelle catégorie</a>
        {% endblock %}