{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
<!-- Barre de recherche -->
<p class="lead mb-3 ml-0">Rechercher un élément...</p>
<form method="GET" action="">
    <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
    <button type="submit" class="btn btn-success mt-2">Rechercher</button>
</form>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom statut</th>
        <th>Nombre de Produits</th>
    </thead>
    <tbody>
        {% for s in stats %}
        <tr>
            <td>{{ s.idStatut }} </td>
            <td><a href="{% url 'dtl_statut' s.idStatut %}">{{ s.libelle }}</a></td>
            <td>{{ s.prt }} </td>
            <td><a href="{% url 'stat_chng' s.idStatut %}">modifier</a></td>
            <td><a href="{% url 'stat_del' s.idStatut %}">supprimer</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crt_statut' %}">Créer un nouveau statut</a>
        {% endblock %}