{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{ titremenu }}</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom rayon</th>
        <th>Valeur marchande du rayon</th>
    </thead>
    <tbody>
        {% for data in ryns_dt %}
        <tr>
            <td><a href="{% url 'dtl_ray' data.rayon.pk %}">{{ data.rayon.pk }}</a></td>
            <td>{{ data.rayon.nomRay }}</td>
            <td>{{ data.total_stock }}</td>
            <td>
                <a href="{% url 'dtl_ray' data.rayon.pk %}" class="btn btn-info">détails</a>
                <a href="{% url 'ray_chng' data.rayon.pk %}" class="btn btn-warning">modifier</a>
                <a href="{% url 'ray_del' data.rayon.pk %}" class="btn btn-danger">supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'crt_ray' %}">Créer un nouveau rayon</a>
        {% endblock %}